{% load i18n %}
<tr class="shape-row {% if forloop.counter|divisibleby:2 %}
    
    even-row

  {% else %}
    
    odd-row

  {% endif %}"
  id="shape-{{ shape.id }}">
  <!-- Nom de la forme -->
  <td width="30%" id="shape-name-{{ shape.id }}" hx-get="{% url 'shapes:shape_name' shape.id %}" hx-trigger="load" hx-swap="innerHTML"></td>

  <!-- Type de forme -->
  <td width="20%" id="shape-type-{{ shape.id }}" hx-get="{% url 'shapes:shape_type' shape.id %}" hx-trigger="load" hx-swap="innerHTML"></td>

  <!-- Dimensions de la forme -->
  <td width="40%" id="dimensions-display-{{ shape.id }}" hx-get="{% url 'shapes:shape_dimensions' shape.id %}" hx-trigger="load" hx-swap="innerHTML"></td>

  <!-- Bouton de suppression flottant -->
  <td width="0" style="padding: 0; position: relative;">
    <button class="floating-delete-btn" hx-delete="{% url 'shapes:shape_delete_hx' shape.id %}" hx-confirm="{% blocktrans with name=shape.name %}Voulez-vous vraiment supprimer la forme {{ name }} ?{% endblocktrans %}" hx-target="#shape-list-container" title="{% trans 'Supprimer cette forme' %}"><i class="bi bi-trash"></i></button>
  </td>
</tr>
