{% extends 'base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">Bienvenue sur Buggel</h1>
    <p class="lead">Créez facilement des modèles de perles à repasser à partir de vos images préférées.</p>
    {% if not user.is_authenticated %}
      <hr class="my-4" />
      <p>Inscrivez-vous pour commencer à créer vos propres modèles !</p>
      <a class="btn btn-primary btn-lg" href="{% url 'accounts:register' %}" role="button">S'inscrire</a>
    {% else %}
      <div class="btn-group">
        <a class="btn btn-primary btn-lg" href="{% url 'beadmodels:create' %}?reset=true" role="button">
          <i class="bi bi-magic"></i> Assistant de création
        </a>
      </div>
    {% endif %}
  </div>

  <h2 class="mt-5 mb-4">Derniers modèles publics</h2>
  <div class="row">
    {% for model in models %}
      <div class="col-md-4 mb-4">
        {% include "beadmodels/partials/inline-card.html" with model=model %}
      </div>
    {% empty %}
      <div class="col-12">
        <p>Aucun modèle public n'a encore été créé.</p>
      </div>
    {% endfor %}
  </div>
{% endblock %}
