/* Styles pour la mise en page */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: -0.5rem;
}

.col {
    flex: 1;
    padding: 0.5rem;
}