<div class="modal fade show" id="deleteModal" tabindex="-1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Supprimer "{{ model.name }}" ?</h5>
                <button type="button" class="btn-close" hx-get="{% url 'beadmodels:details' model.pk %}" hx-target="body" hx-swap="outerHTML"></button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" hx-get="{% url 'beadmodels:details' model.pk %}" hx-target="body" hx-swap="outerHTML">Annuler</button>
                <button type="button" class="btn btn-danger" href="{% url 'beadmodels:edit' model.pk %}">Supprimer</button>
            </div>
        </div>
    </div>
<div class="modal-backdrop fade show"></div>
